.country{
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.country img{
    width: 200px;
}
.country-visited{
    background-color: lightgreen;
}
.country-visited p{
    color: lightgreen;
}
button {
  color: #111;
  border: 2px solid lightgreen;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
